<main id="homeSection">
    <header class="jumbotron text-center text-dark mt-5 newsScraperHeader">
        <h1 class="display-3 tribuneFont">Chicago Tribune</span> News Scraper</h1>
        <hr>
        <h2 class="mb-4">A news scaper that will display the 20 most recent news articles from the Chicago Tribune.</h2>
    </header>

    <section class="container">
        <div class="row articlesDiv"></div>
    </section>
</main>

<!--Notes Popup-->
<section class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-article-id="">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLabel">Article Notes</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="notesBody modal-body p-0 border-top border-bottom"></div>
            <div class="modal-footer border-0">
                <button id="addNoteButton" type="button" class="btn btn-primary"><i class="fas fa-plus"></i>
                    Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</section>

<!--Favorites Section-->
<section id="favoritesSection">
    <header class="jumbotron text-center text-dark mt-5 newsScraperHeader">
        <h1 class="display-4">Your Favorites</h1>
    </header>

    <div class="container">
        <div class="row"></div>
        <div class="row bg-white p-4">
            <div class="favoritesContainer row"></div>
        </div>
    </div>
</section>

<!--Articles handlebars template-->
<template id="articlesHandleBarsTemplate">
    \{{#each articles}}
    <div data-article-id="\{{this._id}}" class="favoriteArticleCardContainer col-md-6 col-sm-12 p-2">
        <div class="card articleCard shadowCard p-3">
            <div class="row">
                <div class="col-12">
                    <i data-article-id="\{{this._id}}" class="favoriteIcon \{{#if ../isFavorites}} fas \{{else}} far \{{/if}} fa-heart fa-2x"></i>
                    \{{#if this.imageUrl}}
                    <img src="\{{this.imageUrl}}" alt="...">
                    \{{else}}
                    <img src="/assets/img/blankImage.jpg" alt="...">
                    \{{/if}}
                </div>
                <div class="col-12">
                    <div class="card-body">
                        <h3><a href="\{{this._id}}" target="_blank">\{{this.title}}</a>
                        </h3>
                        <p class="card-text">\{{this.text}}</p>
                        <div class="articleButtonDiv">
                            <button data-article-id="\{{this._id}}"
                                class="btn btn-primary float-right viewNotesButton">View Notes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    \{{/each}}
</template>


<!--Notes handlebars template-->
<template id="notesTemplate">
    <div data-is-new-note="\{{isNewNote}}">
        \{{#each notes}}
        <div data-note-id="\{{this._id}}" class="noteContainer col-12 py-3 
        \{{#if @first}} 
        border-top 
        \{{/if}}">
            <div class="row">
                <div class="editNoteContainer px-2">
                    <div class="noteEdit">
                        <textarea data-note-id="\{{this._id}}" class="noteTextArea form-control" rows="3"
                            placeholder="Enter note text">\{{this.text}}</textarea>
                    </div>
                </div>
                <div class="noteButtonsContainer">
                    <div class="mb-2 mr-2">
                        \{{#with this.text}}
                        <button data-note-id="\{{this._id}}"
                            class="noteSaveBtn btn btn-secondary btn-block"><i class="fas fa-save"></i> Save</button>
                        \{{else}}
                        <button disabled data-note-id="\{{this._id}}"
                            class="noteSaveBtn btn btn-secondary btn-block"><i class="fas fa-save"></i> Save</button>
                        \{{/with}}
                    </div>
                    <div class="mr-2">
                        <button data-note-id="\{{this._id}}" class="noteDeleteBtn btn btn-danger btn-block 
                        \{{#if ../isNewNote }}
                        d-none
                        \{{/if}}">
                            <i class="fas fa-times"></i> Delete</button>
                        <button data-note-id="\{{this._id}}" class="noteCancel btn btn-warning btn-block 
                        \{{#unless ../isNewNote }}
                        d-none
                        \{{/unless}}">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        \{{/each}}
    </div>
</template>